<h1><p></p></h1>
<h2><p>LEADERBOARD TEAM MOBILE LEGEND </p></h2>

<table class="table">
    <thead>
        <th scope="row">No</th>
        <th scope="row">TEAM</th>
        <th scope="row">POINT</th>
    </thead>
    <tbody class="table-active navbar-light bg-warning">
      <tr class="table-active">
        <th scope="row">1</th>
      <td>ALTER EGO</td>
      <td>0 </td>
      </tr>
      <tr>
        <th scope="row">2</th>
      <td>RRQ Hoshi</td>
      <td>0</td>
      </tr>
      <tr>
        <th scope="row">3</th>
      <td>Evos Legends</td>
      <td>0</td>
      </tr>
      <tr>
        <th scope="row">4</th>
      <td>Rebellion</td>
      <td>0</td>
      </tr>
      <tr>
        <th scope="row">5</th>
      <td>Aura</td>
      <td>0</td>
      </tr>
      <tr>
        <th scope="row">6</th>
      <td>Onic</td>
      <td>0</td>
      </tr>
     
     
        
    </tbody>
  </table>