<h1><p></p></h1>
<h2><p>Jadwal Pertandingan Mobile Legend</p></h2>

<table class="table navbar-light bg-warning">
    <thead>
      <tr>
        <th scope="row">Hari</th>
        <th scope="row">Pertandingan</th>
        <th scope="row">Jam </th>
        <th scope="row">Game</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Minggu</td>
        <td>Alter EGO vs RRQ </td>
        <td>14.00</td>
        <td>BO 3</td>
      </tr>
    </tbody>
    <tbody>
        <tr>
          <td>Minggu</td>
          <td>Evos Legends vs Onic </td>
          <td>16.00</td>
          <td>BO 3</td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>Minggu</td>
          <td>Rebellion vs Aura </td>
          <td>19.00</td>
          <td>BO 3</td>
        </tr>
      </tbody>
  </table>
