<p></p>
<h1><p>Daftar Branding Tournament</p></h1>

<table class="table navbar-light bg-warning ">
    <thead>
      <tr>
        <th scope="row">Nama Brand</th>
        <th scope="row">Tujuan</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Coca Cola</td>
        <td>logo Coca-Cola yang ikonik dibuat oleh seorang akuntan biasa bernama Frank Mason Robinson! Fitur paling karakteristik dari lambang ini adalah font Spencerian yang elegan dan mengalir yang umum digunakan dalam kumpulan dokumen dan korespondensi pada akhir abad ke 19. Tahun 1890, merek ini memutuskan untuk membuat logonya menjadi lebih canggih dengan menambahkan gulir dan lingkaran yang intrik. Gulir pada kapital “C” terlihat seperti ceri lezat yang bergantung dari phon.Visi kami membentuk kerangka kerja Peta Jalan kami dan memandu setiap aspek dari bisnis kami dengan menjelaskan target yang perlu kami capai untuk terus meraih pertumbuhan yang berkelanjutan dan berkualitas. SDM: Menjadi tempat kerja yang baik dimana orang dapat terinspirasi untuk memenuhi potensi mereka</td>
      </tr>
    </tbody>
    
  </table>
